* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #96aba4;
  --color: #2e3432;
  background-color: var(--bg-color);
  color: var(--color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html {
  display: flex;
}
body {
  margin: auto;
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-lefimg {
  flex: 1;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-img {
  border-radius: 10px;
  border: 4px solid #fff;
  width: 100%;
  max-width: 350px;
}
.title {
  text-align: center;
  margin-top: 50px;
}
.description {
  text-align: center;
}
.download-container {
  display: flex;
  flex-direction: column;
  width: min-content;
  margin: auto;
  gap: 10px;
}
.download {
  display: flex;
  gap: 10px;
  align-items: center;
  width: max-content;
  background-color: var(--color);
  color: var(--bg-color);
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: bold;
}
.download img {
  width: 40px;
  height: 40px;
}
/* tablets  */
@media (min-width: 768px) {
  body {
    width: 80%;
  }
  .container {
    flex-direction: row;
  }
  .title {
    text-align: left;
  }
  .description {
    text-align: justify;
  }
  .download-container {
    margin-left: 15px;
  }
}

@media (min-width: 1280px) {
  body {
    width: 60%;
  }
}
